<div class="panel panel-default">
  <div class="panel-heading">
    <h1>
      <%= image_tag @user.avatar.url(:thumb), class: "img-rounded" %>
      <b><%= @user.name %></b>
    </h1>
  </div>
  <div class="panel-body">
    <b>Description:</b> <%= @user.description %>
  </div>
</div>
