<br/>
<br/>
<div class="row">
  <div class= "col-md-6">
<div class="jumbotron" style="border-radius: 30em;">
  <h2 class="display-3">One-Study</h2>
  <p class="lead">
    an educational tool, helpfull for creating and finding Study Guides for all your needs.
  </p>
  <hr class="m-y-md">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
</div>
</div>
