<script>
    $(document).ready(function(){
      $('.slider').slider({full_width: true, transition: 400, interval: 3000});
    });

</script>
<div class="slider">
    <ul class="slides">
        <li>
            <img src="https://placeimg.com/480/320/tech">
            <div class="caption left-align">
                <h3>Welcome to One-Study</h3>
                <h5 class="light grey-text text-lighten-3">The best place to share your study guides.</h5>
            </div>
        </li>
        <li>
            <img src="https://placeimg.com/650/320/tech"> 
            <div class="caption center-align">
                <h3>Ever had problems with sharing your study guides.</h3>
                <h5 class="light grey-text text-lighten-3">Create an account and start sharing.</h5>
            </div>
        </li>
    </ul>
</div>