<div class="jumbotron bg-info m-b-0" style="font-family: 'Arvo'; border-radius: 0em;">
  <div class="row">
    <div class="col-md-4">
      <img src="http://academycustomtestprep.com/wp-content/uploads/2014/03/Student-Studying.jpg" class="img-thumbnail pull-right" style="max-width: 95%; height: auto;">
    </div>
    <div class="col-md-8 text-left">
      <h2 class="display-3"><b>One-Study</b></h2>
      <p class="lead">
        An educational tool helpfull for creating and finding Study Guides for all your needs.
      </p>
      <p class="lead">Find study guides for your teachers and classes created by students like you.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>
  </div>
</div>
<div class="jumbotron m-b-0" style="font-family: 'Arvo'; border-radius: 0em; background-color: #99CCFF;">
  <div class="row">
    <div class="col-md-8 text-left">
      <h2 class="display-3">Organized</h2>
      <p class="lead">
        You can easily find your schools, teachers, and courses in just a few clicks.
      </p>
      <p class="lead">Find study guides for your teachers and classes created by students like you.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>
    <div class="col-md-4">
      <img src="https://expertceo.files.wordpress.com/2008/11/study-group1.jpg" class="img-thumbnail pull-right" style="max-width: 95%; height: auto;">
    </div>
  </div>
</div>
