<div class="well background-welcome">
  <h1><b>All the Study Guides. All the knowledge.</b></h1>
  <p>
    Publicly share and access Study Guides of others who are taking or have taken the same classes as you.
    
  </p>
</div>
