<template name="navbar">
  <nav>
    <div class="nav-wrapper blue darken-3">
      <ul id="dropdownSchool" class="dropdown-content">
        <li><a href="#!">Search Schools</a></li>
        <li><a href="#!">Popular</a></li>
        <li><a href="#!">High Rated</a></li>
        <li class="divider"></li>
        <li><a href="#!">Create a school</a></li>
      </ul>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a class="dropdown-button" href="#!" data-activates="dropdownSchool">SCHOOLS<i class="material-icons right"></i></a></li>
        <li><a href="teachers.html">TEACHERS</a></li>
        <li><a href="courses.html">COURSES</a></li>
      </ul>
      <a href="main.html" class="brand-logo center">One-Study</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="aboutus.html">ABOUT US</a></li>
        <li><a href="contactus.html">CONTACT US</a></li>
        <li><a href="login.html">LOGIN</a></li>
      </ul>
    </div>
  </nav>
</template>
