<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Editing teacher</h1>
  </div>
  <div class="panel-body">
      <%= render 'form' %>
      <%= link_to 'Back', teacher_path(@teacher), class: "btn btn-default" %>
      </div>
    </div>
  
