<div class="panel panel-default">
  <div class="panel-heading">
    <b><h1>New teacher
      <% if params[:school_id] %>
        in <%= @school.name %>
      <% end %>
    </h1></b>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
      <%= link_to 'Back', teachers_path, class: "btn btn-default" %>
      </div>
    </div>
  