<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>School:</strong>
  <%= @teacher.school.name %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
