<div class="panel panel-default">
  <div class="panel panel-heading">
    <h1>Editing school</h1>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
    <%= link_to "Back", school_path(@school), class: "btn btn-default"%>
  </div>