<% if user_signed_in? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>New course</h1>
    </div>
    <div class="panel-body">
      <%= render 'form' %>
      <%= link_to 'Back', teacher_path(@course.teacher), class: "btn btn-default" %>
    </div>
    </div>
  </div>
<% else %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <b>We're sorry, you must be signed in in order to make a new course.</b>
    </div>
    <div class="panel-body">
      <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary"%>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary"%>
    </div>
  </div>
<% end %>
