<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Guides</h1>
  </div>
  <div class="panel-body">
    <% @guides.each_slice(3) do |guides| %>
      <div class="row">
        <% guides.each do |guide| %>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <b><%= link_to guide.title, guide_path(guide) %></b>
                created by
                <b><%= link_to guide.user.name, user_path(guide.user) %></b>
              </div>
              <div class="panel-body">
                <%= guide.body.truncate(100) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
