<% if user_signed_in? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>New guide</h1>
    </div>
        <%= render 'form' %>
        <%= link_to 'Back', courses_path, class: "btn btn-primary"%>
    </div>
  </div>
  </div>
<% else %>
  <div class="well well-sm">
    <h4>You need to be <%= link_to "Signed In", new_user_session_path %> to make a new guide.</h4>
    <h5>Don't have an account? <%= link_to "Sign Up", new_user_registration_path %></h5>
  </div>
<% end %>
