<nav class="ink-navigation">
  <ul class="menu horizontal blue">
    <li class="heading active"><%= link_to "Home", root_path %></li>
      <li>
        <a href="#">Find guides</a>
          <ul class="submenu">
              <li><a href="#">By school</a></li>
              <li><a href="#">By teacher</a></li>
              <li><a href="#">By course</a></li>
          </ul>
      </li>
      <li class="heading"><%= link_to "View ur sprofile", root_path %></li>
  </ul>
</nav>
