<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right">
            <li><%= link_to "Schools", schools_path %></li>
            <li><%= link_to "Teachers", teachers_path %>></li>
            <li><%= link_to "Courses", courses_path %></li>
            <li><%= link_to "Guides", guides_path %></li>
        </ul>
    </div>
</nav>